head
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
    script(src="/js/popper.min.js")
    script(src="/js/bootstrap.min.js")
    link(rel="stylesheet", href="/css/bootstrap.min.css")
    link(rel="stylesheet", href="/simple-sidebar.css")

body
    div#wrapper.toggled
        div#sidebar-wrapper
            ul.sidebar-nav
                li.sidebar-brand
                    a(href="/") Clockwork Docs
                li
                    a#hooks(href="#") Hooks
                li
                    a#libraries(href="#") Libraries

        div#page-content-wrapper
            div.container-fluid
                h1#content-title Clockwork Docs
                div#content-body
                    p Welcome, this is an experimental Codebase preview. Choose Hooks or Libraries on the left.

script.
    $.getJSON("generated.json", function(data) {
        $("#hooks").click(function() {
            $("#content-title").text("Hooks");
            $("#content-body").empty();

            let sharedHooks = [];
            let serverHooks = [];
            let clientHooks = [];

            Object.keys(data.hooks).forEach(hook => {
                let state = data.hooks[hook].scriptState;

                if (state === "Server") {
                    serverHooks.push(data.hooks[hook]);
                } else if (state === "Shared") {
                    sharedHooks.push(data.hooks[hook]);
                } else {
                    clientHooks.push(data.hooks[hook]);
                }
            });

            $("#content-body").append($("<h1><span class='badge badge-danger'>Server</span> Hooks</h1>"));

            var container = $("<div>");

            serverHooks.forEach(hook => {
                container.append($("<a style='float: left; margin-right: 32px;' href='hook/" + hook.niceName + "'>" + hook.niceName + "</a>"));
            });

            $("#content-body").append(container);

            $("#content-body").append($("<h1><span class='badge badge-warning'>Shared</span> Hooks</h1>"));

            container = $("<div>");

            sharedHooks.forEach(hook => {
                container.append($("<a style='float: left; margin-right: 32px;' href='hook/" + hook.niceName + "'>" + hook.niceName + "</a>"));
            });

            $("#content-body").append(container);

            $("#content-body").append($("<h1><span class='badge badge-info'>Client</span> Hooks</h1>"));

            container = $("<div>");

            clientHooks.forEach(hook => {
                container.append($("<a style='float: left; margin-right: 32px;' href='hook/" + hook.niceName + "'>" + hook.niceName + "</a>"));
            });

            $("#content-body").append(container);
        });
    });